*{
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
}
body{
  width: 100%;
  height: 100%;
}



.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: grid;
  gap: 1rem;
  background-color: rgb(229, 244, 229);
  /* grid-template-columns: repeat(3,1fr); */
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
}
.item{
  padding: 1rem;
  border: 5px solid rgb(219, 198, 198);
  background-color: rgb(189, 155, 220);
}